<template>
    <button v-on:click="handleSubmit">Submit</button>
</template>

<script>
import axios from 'axios';

const baseURL = "http://localhost:3000/login"

export default {
  name: 'submitSignIn',

  methods: {
    storeToken(tkn) {
      this.$store.commit('auth/add', tkn)
    },

    storeError(err, key) {
      this.$store.commit('validate/add', { err, key })
    },

    async handleSubmit() {
      this.$root.$emit('submit', '')

      const errors = Object.values(this.$store.state.validate.errors)
      errors.shift()
      if (errors.some(err => err !== '')) return

      try {
        var res = await axios.post(baseURL, this.$store.state.users.data);
        
      } catch(e) {
        this.storeError('Wrong e-mail or password: user not registered', 'email')
        return     
      }

      const token = res.data.accessToken
      const id = JSON.parse(atob( token.split('.')[1] )).sub

      this.storeToken(token)
      this.$router.push("users/" + id)
    },
  }
}
</script>
