<template>
    <button v-on:click="$root.$emit('clear', '')">Clear</button>
</template>

<script>
export default {
  name: 'clearButton',

  created () {
    this.$root.$on('clear', () => {this.handleClear()});
  },

  methods: {
    handleClear() {
      this.$store.commit('users/clear', '')    // Clear user data from store
      this.$store.commit('validate/clear', '') // Clear user input errors from store
    },
  }
}
</script>
