<template>
    <section class='input-container'>
        <label for="password" v-bind:class="{'label-error': passwordError && anyUserInput}">Password</label>
        <input v-on:focusout="anyUserInput=true" name="password" type="password" v-model="password" v-bind:class="{'input-error': passwordError && anyUserInput}">
        <span v-if="anyUserInput && passwordError">{{passwordError}}</span>
    </section>
</template>

<script>
export default {
    name: 'passwordField',

    created () {
        this.$root.$on('submit', () => {this.anyUserInput = true});
        this.$root.$on('clear', () => {this.anyUserInput = false});
    },

    data() {
        return {
            anyUserInput: false,
            password: '',
            errorStore: this.$store.state.validate.errors
        }
    },

    computed: {
        passwordError: function() {
            const error = this.validate(this.password);
            this.storeError(error, 'password');
            this.storeUserData(this.password, 'password')

            return error
        },
    },

    methods: {
        storeUserData(dt, key) {
            this.$store.commit('users/add', { dt, key })
        },
        storeError(err, key) {
            this.$store.commit('validate/add', { err, key })
        },
        validate(password) {
            const tests = [
                password !== '' || 'Required field',
                (password.length >= 8 && password.length <= 32) || 'Password must be between 8 and 32 characters',
                /^[A-Za-z0-9]+$/.test(password) || 'Only letters and numbers are allowed'
            ]

            for (let t of tests) {
                if (t !== true) return t
            }

            return ''
        }
    }
}
</script>
