<template>
    <section class='input-container'>
        <label for="email" v-bind:class="{'label-error': (emailError || errorStore.email) && anyUserInput}">E-mail</label>
        <input v-on:focusout="anyUserInput=true" name="email" type="email" v-model="email" v-bind:class="{'input-error': (emailError || errorStore.email) && anyUserInput}">
        <span v-if="anyUserInput && (emailError || errorStore.email)">{{errorStore.email}}</span>
    </section>
</template>

<script>
export default {
    name: 'emailField',

    created() {
        this.$root.$on('submit', () => {this.anyUserInput = true});
        this.$root.$on('clear', () => {this.anyUserInput = false});
    },

    data() {
        return {
            anyUserInput: false,
            email: '',
            errorStore: this.$store.state.validate.errors
        }
    },

    computed: {
        emailError: function() {
            const error = this.validate(this.email);
            this.storeError(error, 'email')
            this.storeUserData(this.email, 'email')

            return error
        },
    },

    methods: {
        storeUserData(dt, key) {
            this.$store.commit('users/add', { dt, key })
        },
        storeError(err, key) {
            this.$store.commit('validate/add', { err, key })
        },

        validate(email) {
            const tests = [
                email !== '' || 'Required field',
                /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/.test(email) || 'Invalid e-mail',
            ]

            for (let t of tests) {
                if (t !== true) return t
            }

            return ''
        },
    }
}
</script>
