<template>
    <section class='input-container'>
        <label for="username" v-bind:class="{'label-error': usernameError && anyUserInput}">Username</label>
        <input v-on:focusout="anyUserInput=true" name="username" type="text" v-model="username" v-bind:class="{'input-error': usernameError && anyUserInput}">
        <span v-if="anyUserInput && usernameError">{{usernameError}}</span>
    </section>
</template>

<script>
export default {
    name: 'usernameField',

    created () {
        this.$root.$on('submit', () => {this.anyUserInput = true});
        this.$root.$on('clear', () => {this.anyUserInput = false});
    },

    data() {
        return {
            anyUserInput: false,
            username: '',
            errorStore: this.$store.state.validate.errors
        }
    },

    computed: {
        usernameError: function() {
            const error = this.validate(this.username);
            this.storeError(error, 'username')
            this.storeUserData(this.username, 'username')

            return error
        },
    },

    methods: {
        storeUserData(dt, key) {
            this.$store.commit('users/add', { dt, key })
        },
        storeError(err, key) {
            this.$store.commit('validate/add', { err, key })
        },

        validate(username) {
            const tests = [
                username !== '' || 'Required field',
                /^[A-Za-z0-9]+$/.test(username) || 'Only letters and numbers are allowed',
                !(/^\d/.test(username)) || 'Username must not start with a number'
            ]

            for (let t of tests) {
                if (t !== true) return t
            }

            return ''
        },
    }
}
</script>
