<template>
    <main id="userCard">
        <h1>Profile</h1>

        <img
        src='https://avataaars.io/?avatarStyle=Circle&topType=WinterHat2&accessoriesType=
             Round&hatColor=PastelBlue&facialHairType=MoustacheMagnum&facialHairColor=Blo
             nde&clotheType=ShirtCrewNeck&clotheColor=PastelRed&eyeType=Hearts&eyebrowType
             =Default&mouthType=ScreamOpen&skinColor=Yellow'

        alt="profile-picture"
        />

        <section class="user-info-container">
            <p class="username">{{username}}</p>
            <p class="email">{{email}}</p>
        </section>
    </main>
</template>

<script>
export default {
    name: 'userCard',

    computed: {
        username: function() {
            return this.$store.state.users.data.username
        },
        
        email: function() {
            return this.$store.state.users.data.email
        },
    },
}
</script>
