<template>
  <main id='userProfile'>
    <div v-show="!errorMessage">
      <userCard />
    </div>
    <div v-show="errorMessage" class="error-container">
      <p class="text-red-500 font-bold">{{errorMessage}}</p>
      <p class="text-gray-500">{{"Redirecting..."}}</p>
    </div>
  </main>
</template>


<script>
import axios from 'axios';

const baseURL = "http://localhost:3000/600/users/"

export default {
  name: 'userProfile',

  beforeMount() {
    this.allowedUser()
  },
  
  data() {
    return {
      errorMessage:''
    }
  },

  methods: {
    storeUserData(dt, key) {
      this.$store.commit('users/add', { dt, key })
    },

    async allowedUser() {      
      var storedToken = this.$store.state.auth.token

      if (!storedToken) {
        this.errorMessage = "Impossible to authenticate user."
        setTimeout(() => {this.$router.push("/sign-up")}, 3000)
        return
      }

      const storedId = JSON.parse(atob( storedToken.split('.')[1] )).sub
      var idFromUrl = this.$route.params.id    
 
      if (idFromUrl !== storedId) {
        this.errorMessage = "Private resource access: entity must have a reference to the owner id."
        setTimeout(() => {this.$router.push("/sign-up")}, 3000)
        return
      }

      try {
        axios.defaults.headers.common['Authorization'] = 'Bearer ' + storedToken;
        const res = await axios.get(baseURL + idFromUrl)
        this.storeUserData(res.data.username, 'username')
        console.log(this.$store.state.users.data.username)
      } catch(e) {
        this.errorMessage = "Cannot read property 'id' of undefined."
        setTimeout(() => {this.$router.push("/sign-up")}, 3000)
      }

      return
    }
  }
}
</script>


<style lang="postcss" src="../../components/style/userProfile.vue"></style>
