<template>
  <main id="sign-in">
    <h1>Login</h1>    
    <div class='form-container'>
      <form ref='signInForm'>
        <fieldEmail />
        <fieldPassword />
      </form>
      <div class='buttons-container'>
        <buttonClear />
        <buttonSignIn/>
      </div>
      <NuxtLink v-on:click.native="$root.$emit('clear', '')" to="/sign-up">Not an user yet? Sign-up now!</NuxtLink>
    </div>
  </main>
</template>


<script>
export default {
  name: 'sign-in',

  created () {
    this.$root.$on('clear', () => {
      try {
        setTimeout(() => {this.$refs.signInForm.reset()}, 10)
      } catch(e) {}
    });
  },
}
</script>


<style lang="postcss" src="../components/style/formPage.vue"></style>
