<template>
  <main id="sign-up">
    <h1>Register</h1>
    <div class='form-container'>
      <form ref='signUpForm'>
        <fieldEmail />   
        <fieldUsername />
        <fieldPassword />           
      </form>
      <div class='buttons-container'>
        <buttonClear />
        <buttonSigUp />
      </div>
      <NuxtLink v-on:click.native="$root.$emit('clear', '')" to="/sign-in">Already an user? Sign-in now!</NuxtLink>
    </div>
  </main>
</template>


<script>
export default {
  name: 'sign-up', 

  created () {
    this.$root.$on('clear', () => {
      try {
        setTimeout(() => {this.$refs.signUpForm.reset()}, 10)
      } catch(e) {}
    });
  },
}
</script>


<style lang="postcss" src="../components/style/formPage.vue"></style>
